.menu {width: 18%;
height: 90%;
float: left;
display: inline-grid;
position: fixed;
background-color: #B7EAE5;
z-index: 1;
top: 0;
left: 0;
}
.menu>div {display: inline-grid;
margin: 15px;
margin-top: 33%;
border: 4px solid #C18080;
border-radius: 20px;
background: radial-gradient(ellipse at center, #FFFFFF 0%, #FFFFFF 50%, #F1EBC4 100%);
padding: 10px;
}
.derecha {float: right;
width: 20%;
margin-right: 100px;
}
.medio {display: inline-block;
width: 50%;
margin-left: 20%;
}
#home {text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd,
1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4,
4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4,
6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
-6px -28px 14px rgba(82,206,138,0);
color: #C18080;
font-size: 250%;
}
body {font-family: Tahoma, sans-serif;
font-size: 16px;
background: url(background.gif) no-repeat;
background-color: #B7EAE5;
background-position: center center;
background-size: auto;
background-attachment: fixed;
}
li {padding: 10px;
font-size: 150%;
font-weight: bold;
}
.columna:after {
  content: "";
  display: block;
  clear: both;
}
.articulo {border: 2px dotted #C18080;
border-radius: 10px;
background: radial-gradient(ellipse at center, #FFFFFF 0%, #FFFFFF 50%, #F1EBC4 100%);
margin: 8px;
margin-bottom: 120px;
padding: 15px;}
.derecha>div {margin: 10px;
border: 4px solid #C18080;
border-radius: 20px;
background: radial-gradient(ellipse at center, #FFFFFF 0%, #FFFFFF 50%, #F1EBC4 100%);
padding: 10px;
margin-bottom: 100px;
position: sticky;
top: 0;
z-index: inherit;
}
.boton {position: sticky;
  right: 0;
  bottom: 0;
  width: 5%;
  background-color: #C18080;
  text-align: center;
  float: right;
  border-radius: 15pc;
}
#tooltip {position: relative;
}
#tooltip-text{visibility: hidden;
width: 140px;
background-color: #F1EBC4;
color: #C18080;
text-align: center;
border: 3px solid #C18080;
border-radius: 40px;
padding: 5px;
position: absolute;
z-index: 1;
margin-left: 5px;
}
#tooltip:hover #tooltip-text {visibility: visible;}
.principal {font-family: Tahoma, sans-serif;
font-size: 33px;
letter-spacing: -2px;
word-spacing: 3px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
.footer {font-size: 50%; font-family: sans-serif; }
.title {text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd,
1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4,
4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4,
6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
-6px -28px 14px rgba(82,206,138,0);
color: #C18080; font-size: 200%;
text-align: center;
}
